body {
  background-color: white;
}

img {
  object-fit: cover;
}

.bg-text1 {
  font-size: 6vmin;
  line-height: 6vmin;
  font-weight: 400;
  margin: 1vmin 0;
}

.bg-text2 {
  font-size: 3vmin;
  line-height: 3vmin;
  margin: 1vmin 0;
}

.bg-text3 {
  font-size: 4vmin;
  line-height: 4vmin;
  margin: 3vmin 0;
}

::placeholder {
  font-size: 1.5vmax;
}

#getdoc-logo {
  width: 20vmin;
  margin-left: 10vmin;
}

#dropdown a {
  width: 200px;
  color: rgb(24, 24, 97);
  font-size: 1.5vmax;
}

#dropdown {
  height: 15vmax;
  width: 11vw;
  background-color: white;
}

#header nav {
  background-color: transparent;
  position: absolute;
  box-shadow: none;
  z-index: 2;
  margin-top: 2vmin;
  width: 95%;
}

#nav-header {
  height: 5vmax;
}

.btn-small {
  width: auto;
  height: auto;
  font-size: 1.3vmax;
  font-weight: bolder;
}

#search-bar {
  position: absolute;
  width: 70%;
  z-index: 1;
  margin: 20% 0 0 15%;
}

#search-bar nav {
  height: 4vmax;
}

#search-bar .material-icons {
  font-size: 1.5vmax;
  line-height: 4vmax;
}

#search {
  background-color: white;
  color: black;
}

#profile-pic,
.profile-pic {
  height: 50px;
  width: 50px;
  margin: 0 5% 10% 0;
  object-fit: cover;
}

.carousel-item {
  height: 4vmax;
}

.service-content {
  font-size: 1.5vmin;
}

.service-card {
  max-height: 35vw;
}

#doc-schedule {
  width: auto;
}
/* Vrush css */

body {
  background-color: #ADE5F9;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.card::after,
.card img {
  border-radius: 50%;
}

.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
  padding-bottom: 5%;
}

.card img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #FFF;
  margin-left: 43%;
}

.img {
  margin-right: 1.5rem;
}

.infos {
  margin-left: 1.5rem;
  margin-right: 2.5rem;
}

.name h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.name h4 {
  font-size: .8rem;
  color: #333
}

.text {
  font-size: .9rem;
  margin-bottom: 1rem;
  margin-top: 0px;
}

.stats {
  margin-bottom: 1rem;
}

.stats li {
  min-width: 5rem;
  margin-right: 30px;
}

.stats li h3 {
  font-size: .99rem;
}

.stats li h4 {
  font-size: .75rem;
}

.profile button {
  font-family: 'Poppins', sans-serif;
  min-width: 120px;
  padding: .5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s linear;
  margin-top: 1rem;
}

.profile .change-pic {
  background-color: #222;
  color: #FFF;
}

.profile .change-pic:hover {
  background-color: transparent;
  color: #222;
}

.profile {
  text-align: center;
}

.no-margin {
  margin: 0px;
}

.stats {
  display: flex;
}

.rating-box,
.outer-schedule-box {
  width: 100%;
  height: auto;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 4px 3px gray;
  padding: 10px;
}

.star-icon {
  font-size: 20px;
}

.social-icon {
  font-size: 24px;
  margin-right: 10px;
}

.social-link,
.action-link {
  color: black;
  text-decoration: none;
}

#search-bar-schedule .material-icons {
  font-size: 2.3vmax;
  line-height: 2vmax;
}

#search-bar-schedule {
  position: relative;
  width: 70%;
  z-index: 1;
  margin: auto;
}

.inner-schedule-box {
  width: 50%;
  height: auto;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  margin: auto;
  margin-bottom: 5px;
}

.schedule-status-box,
.schedule-time-box {
  height: auto;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.booked {
  background-color: yellowgreen
}

.declined {
  background-color: lightcoral
}

.no-margin {
  margin: 0!important;
}

.floating-name {
  position: relative;
  top: -110px;
  left: 150px
}

/* Ends here */